
.todoHeader {
    color: white;
    text-align: center;
    background-color: #adbddf;
    padding: 30px 40px;
    border-radius: 10px;
}

.todoInput {
    font-size: 16px;
    width: 80%;
    margin-left: 4px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #7d9cdf;
    border-bottom: 4px solid #7d9cdf;
    border-radius: 5px;
}

.todoAction {
    color: white;
    text-shadow: 0 0 5px #000000;
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.todoAction:hover {
    background-color: #7d9cdf;
    color: white;
}

.todoAction.tick {
    left: 0;
}

.todoAction.close {
    right: 0;
}

.todoList {
    padding: 0;
    margin-top: 12px;
    list-style-type: none;
}

.todo {
    font-size: 18px;
    cursor: text;
    outline: none;
    margin: 4px;
    padding: 12px 51px;
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
}

.todo:hover {
    background: #dddddd;
}

.todo.ticked {
    background: #adbddf;
    color: #ffffff;
    text-decoration: line-through;
}

.todo.ticked:hover {
    background: #bbbbbb;
}
